*{
    margin: 0;
}

// colors

$color-bg:#232525;
$color-font:#fff;
$color-nav:#000000;
$color-card:#000000;
$color-card-font:#383030;

body{
    background-color: $color-bg;
    color: $color-font;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
}

nav{
    height: 6em;
    background-color: $color-nav;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: sticky;
    flex-direction: column;
    width: 100%;

    &__title{
        font-size: xx-large;
    }

    &__subtitle{
        opacity: 0.5;
    }

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.card{
    //border: 1px solid rgb(0, 0, 0);
    padding: 1em;
    background-color: $color-card;
    //border-radius: 20px;
    margin: 1em;
    width: 15em;

    &__subtitles{
        opacity: 0.5;
        padding: 0.5em 0;
        font-style: italic;
    }

    &__body{
        padding: 0.5em 0;
    }

    &__txt{
        opacity: 0.8;
    }

    &__btn{
        padding: 1em 0;
    }

    &:hover{
        -moz-box-shadow: 0px 0px 13px 3px rgba(113, 111, 111, 0.57);
        -webkit-box-shadow: 0px 0px 13px 3px rgba(113, 111, 111, 0.57);
        box-shadow: 0px 0px 13px 3px rgba(113, 111, 111, 0.57);
    }
}

.btn{
    color: rgba(0, 0, 0, 0.661);
    background-color: white;
    padding: 0.5em;
    text-decoration: none;
    font-size: small;
    //border: 1px solid rgb(0, 0, 0);
    //border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: rgba(133, 125, 125, 0.665);
        color: white;
        transition: 1s;
    }
}

footer{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1em;
}

.links{
    color: #00000092;
    text-decoration: none;
    padding: 1em;

    &:hover{
        color: #000000;
    }
}