*{
    margin: 0;
}

body{
  background-color: rgba(184, 174, 174, 0.368627451);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  height: 5em;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.431372549);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
}
.nav__title {
  font-size: 2.5em;
  font-weight: 100;
  color: rgba(16, 44, 184, 0.999);
}
.nav__subtitle {
  color: rgb(0, 0, 1);
}


.container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1em 0;
    -moz-box-shadow: 0px 0px 13px 3px rgba(113, 111, 111, 0.57);
    -webkit-box-shadow: 0px 0px 13px 3px rgba(113, 111, 111, 0.57);
    box-shadow: 0px 0px 13px 3px rgba(113, 111, 111, 0.57);
}

main{
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

  #search{
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: rgb(255, 153, 0);
  border-radius: 5px;
  width: 5em;
  padding: .1em 4em .1em 0.5em;
  margin: 0 0.5em;
  } 
  
  #search::placeholder{
    color: #ffffff;
  }
  
  #search:focus {
    outline: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
  }

  .width{
    width: 0 !important;
    padding: 0.1em 0em !important;
  }

  #img{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
    height: 1em;
    width: 1em;
    background-position: center;
    padding: 0.1em;
    filter: saturate(20);
}

#img:hover{
  cursor: pointer;
}


footer {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.431372549);
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
}

.links {
  color: rgba(0, 0, 0, 0.5725490196);
  text-decoration: none;
  padding: 1em;
}
.links:hover {
  color: #000000;
}
