*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(9, 38, 57);
    font-family: Helvetica, sans-serif;
}

.container{
    height: 50vh;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.navbar{
    position: absolute;
    bottom: -1.5em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    gap: 1em;
    border: 1px solid rgb(231, 225, 225);
    position: relative;
    padding: 1em 0;
    width: 30em;
    box-shadow: 0 2px 5px 2px gray;
    border-radius: 1em;
}


.nav--var{
    width: 3em;
}

.link{
    color: rgb(82, 81, 81);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.link:hover{
    color: black;
}

.item{
    width: 5em;
    padding: 0.5em 0;
    text-align: center;
    overflow: hidden;
}

.item--var{
    width: 0;
    overflow: hidden;
}

.btn{
    position: absolute;
    cursor: pointer;
    width: 1em;
    height: 1em;
    right: 2em;
    right: 1em;
}

.line:nth-child(1){
    transform:translateY(-0.47em) rotate(-45deg) ;
    transform-origin: center center;
    height: 1px;
    padding: 0 1px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 1em;
    bottom: 0;
    margin: auto;
}

.line:nth-child(2){
    transform: translateY(0.47em) rotate(45deg);
    transform-origin: center center;
    background-color: black;
    position: absolute;
    padding: 0 1px;
    width: 1em;
    height: 1px;
    top: 0;
    margin: auto;
}

.line--var:nth-child(1){
    transform: translateY(0) rotate(0deg) ;
    height: 2px;
    background-color: rgb(93, 86, 86);
    position: absolute;
    padding: 0 0px;
    width: 1em;
    bottom: 0;
    margin: auto;
}

.line--var:nth-child(2){
    transform: translateY(0) rotate(0deg);
    background-color: rgb(93, 86, 86);
    position: absolute;
    padding: 0 0px;
    width: 1em;
    height: 2px;
    top: 0;
    margin: auto;
}
