*{
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.container__title{
    text-align: center;
    padding: 0.5em;
}

.container__body{
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: row;
}

.sound-container{
    display: flex;
    padding: 1em;
}

.muack{
    background-color: rgba(255, 255, 255, 0.865);
    padding: 1em 2em;
    border-radius: 20px;
    font-weight: 600;
}

.muack:hover{
    background-color: rgb(53, 59, 59);
    transition: 1s all;
    color: white;
    cursor: pointer;
}

