*{
    margin: 0;
}

body{
    background-color: rgba(184, 174, 174, 0.368627451);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}


header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  nav {
    height: 5em;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.431372549);
    animation: blur 6s;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
  }
  .nav__title {
    font-size: 2.5em;
    font-weight: 100;
    color: rgba(16, 44, 184, 0.999);
  }
  .nav__subtitle {
    color: rgb(0, 0, 1);
  }
  

.container{
    padding: 2em;
    animation: blur 6s;
    display: flex;
    color: rgb(0, 0, 0);
}

.container h1{
    font-weight: 200;
}

@keyframes blur {
    0%{
        filter: blur(10px);
    }

    70%{
        filter: blur(8px);
    }
    100%{
        filter: blur(0px);
    }
}

.transition{
  animation : transition-opacity 6s;
}

#loading{
    position: absolute;
    top: 50%;
    left: auto;
    right: 40%;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    padding: 1em;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: transition-opacity2 6s;
}

@keyframes transition-opacity{
    0% {
        opacity : 1;
      }
  
      60%{
          opacity: 0.8;
      }
      90%{
          opacity: 0.7;
      }
      95%{
        opacity: 0.6;
    }
      100%{
        opacity : 0;
        display: none;
      }
}

@keyframes transition-opacity2{
    0% {
      opacity : 1;
    }

    60%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.7;
    }
    95%{
        opacity: 0.6;
    }
    100%{
      opacity : 0;
      display: none;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.431372549);
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    animation: blur 6s;
  }
  
  .links {
    color: rgba(0, 0, 0, 0.5725490196);
    text-decoration: none;
    padding: 1em;
  }
  .links:hover {
    color: #000000;
  }
  