* {
    margin: 0;
  }
  
  body {
    background-color: rgba(184, 174, 174, 0.368627451);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
  }

  header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
nav {
  height: 5em;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.431372549);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
}
.nav__title {
  font-size: 2.5em;
  font-weight: 100;
  color: rgba(16, 44, 184, 0.999);
}
.nav__subtitle {
  color: rgb(0, 0, 1);
}

  .container{
    display: flex;
    padding: 1em;
    width:70%;
    margin: auto;
  }

  .panel {
    background: blue;
    height: 20em;
    width: 3em;
    border: 1px solid white;
    border-radius: 1.5em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel:hover{
    cursor: pointer;
  }

.title{
    text-align: center;
    color: #00000048;
    opacity: 0;
}
  .active{
    width: 50%;
    background-color: orange;
  }

  .active > .title{
    color: rgb(0, 0, 0);
    opacity: 1;
    font-weight: 200;
  }

  @media screen and (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
        height: 30em;
    }

    .panel{
        height: 3em;
        width: 100%;
        margin: 0.5em 0 0.5em 0;
    }

    .active{
        height: 20em;
    }

    .title{
        font-weight:200;
        opacity: 0;
        color: transparent;
    }

    .active > .title {
        color: rgb(0, 0, 0);
        opacity: 1;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.431372549);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .links {
    color: rgba(0, 0, 0, 0.5725490196);
    text-decoration: none;
    padding: 1em;
  }
  .links:hover {
    color: #000000;
  }
  